{{> logout}}
{{#if byCity}}<h1>Petition signers from {{byCity}}</h1>{{/if}}
<h3 class="signersBelow">We, whose names are listed below, have pledged to put an end to the printer-industry racket:</h3>

<div id="signerNamesDiv">
    {{#if allCities}}
        {{#allinfo}}
        <p class='signers-whole'>
          {{#if this.url}}<a href='{{this.url}}' class='name-link'>{{/if}}{{this.first}} {{this.last}}{{#if this.url}}</a>{{/if}}{{#if this.age}},
            {{this.age}}{{/if}}{{#if this.city}},
            <a href='/signers/{{this.city}}' class='city-link'>{{this.city}}</a>{{/if}}
            
        </p>
        {{/allinfo}}
    {{else}}
        {{#allinfo}}
        <p class='signers-whole'>
            {{#if this.url}}<a href='{{this.url}}' class='name-link'>{{/if}}{{this.first}} {{this.last}}{{#if this.url}}</a>{{/if}}{{#if this.age}},
            {{this.age}}{{/if}}
        </p>
        {{/allinfo}}
    {{/if}}
</div>

<a href="/thanks" class='link thx-button'>
    <p class="thx-link-text">Back to Thanks Page</p>
</a>

<img src="/picSigners.jpg" id='pic-signers'>
