<div id='table-body'>
    <div id='table'>
        <div id='td-id' class='table-tada-column'>
            <p class="td-title">id</p>
            {{#id}}
                <p class="data">{{.}}</p>
            {{/id}}
        </div>
        <div id='td-first' class='table-tada-column'>
            <p class="td-title">First Name</p>
            {{#first}}
                <p class="data">{{.}}</p>
            {{/first}}
        </div>
        <div id='td-last' class='table-tada-column'>
            <p class="td-title">Last Name</p>
            {{#last}}
                <p class="data">{{.}}</p>
            {{/last}}
        </div>
        <div id='td-sig' class='table-tada-column'>
            <p class="td-title">Signature</p>
            {{#signature}}
                <p class="data">{{.}}</p>
            {{/signature}}
        </div>
        <div id='td-timestamp' class='table-tada-column'>
            <p class="td-title">Timestamp</p>
            {{#ts}}
                <p class="data">{{.}}</p>
            {{/ts}}
        </div>
    </div>
</div>